.project-section
  display: flex
  flex-direction: column
  align-items: center
  margin: 100px auto
  padding-top: 60px
  h2
    @extend .section-header
  .more-btn
    @extend .transparent-btn
    margin-top: 30px
    display: flex
    align-items: center
    justify-content: center
    img
      margin-left: 10px
  .project-grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
    grid-gap: 15px
    margin-top: 30px
    .project-card
      height: 100%
      display: flex
      flex-direction: column
      justify-content: flex-start
      background-color: $card-bg-color
      .project-card-content
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 20px
        .project-links
          display: flex
          justify-content: flex-end
          align-items: center
          img#link
            margin-right: 10px
        h3
          font-size: 1.2rem
          margin: 10px 0
          color: $primary-color
        p
          font-size: 0.9rem
          color: $primary-color
        .project-stack
          display: flex
          flex-wrap: wrap
          padding: 0
          list-style: none
          font-size: 0.85rem
          li
            color: #fff	
            &:not(:first-of-type)
              margin-left: 10px